{% extends 'base.html.twig' %}

{% block title %}
    Blog
{% endblock %}

{% set hide_user_nav = true %}

{% block body %}
    <p>
        <a href=" {{ url('post_index') }}"
          title="{{ 'title_post_list'|trans }}">{{ 'title_post_list'|trans }}</a>
    </p>
    <p>
        <a href=" {{ url('category_index') }}"
           title="{{ 'title_category_list'|trans }}">{{ 'title_category_list'|trans }}</a>
    </p>
    <p>
        <a href=" {{ url('tag_index') }}"
           title="{{ 'title_tag_list'|trans }}">{{ 'title_tag_list'|trans }}</a>
    </p>
{% endblock %}