{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_post_details'|trans({'%id%': post.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_post_details'|trans({'%id%': post.id|default('')}) }}</h1>
    {% if post is defined and post|length %}
        <dl class="dl-horizontal">
            <div class="item-horizontal">
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ post.id }}</dd>
            </div>
            <div class="item-horizontal">
            <dt>{{ 'label_created_at'|trans }}</dt>
            <dd>{{ post.createdAt|format_date('long') }}</dd>
            </div>
            <div class="item-horizontal">
            <dt>{{ 'label_updated_at'|trans }}</dt>
            <dd>{{ post.updatedAt|format_date('long') }}</dd>
            </div>
            <div class="item-horizontal">
            <dt>{{ 'label_title'|trans }}</dt>
            <dd>{{  post.title }}</dd>
            </div>
            {% if is_granted('MANAGE', post) %}
                <div class="item-horizontal">
                    <dt>{{ 'label_publication'|trans }}</dt>
                    {% if post.published %}
                        <dd>{{ 'title_post_published'|trans }}</dd>
                    {% else %}
                        <dd>{{ 'title_post_not_published'|trans }}</dd>
                    {% endif %}
                </div>
            {% endif %}
            <div class="item-horizontal">
            <dt>{{ 'label_author'|trans }}</dt>
            <dd>
                <a href="{{ url('user_show', {id: post.author.id}) }}" title="{{ post.author.username }}">
                    {{ post.author.username }}
                </a>
            </dd>
            </div>
            <div class="item-horizontal">
            <dt>{{ 'label_category'|trans }}</dt>
            <dd>
                <a href="{{ url('post_index', {'filters.category_id' : post.category.id}) }}" title="{{ post.category.name }}">
                    {{ post.category.name }}
                </a>
            </dd>
            </div>
            <div class="item-horizontal">
            <dt>{{ 'label_tags'|trans }}</dt>
            <dd>
                {% if post.tags is defined and post.tags|length %}
                    {% for tag in post.tags %}
                    <a href="{{ url('post_index', {'filters.tag_id' : tag.id}) }}" title="{{ tag.name }}">
                        {{ tag.name }}</a>{% if not loop.last %},{% endif %}
                    {% endfor %}
                {% else %}
                    &nbsp;
                {% endif %}
            </dd>
            </div>
            {% if is_granted('MANAGE', post) %}
                <dd>
                    <a class="btn btn-primary" role="button" href=" {{ url('photo_index', {id: post.id}) }}" title="{{ 'title_photo_list'|trans }}">
                        {{ 'title_photo_list'|trans }}
                    </a>
                    <a class="btn btn-primary" role="button" href="{{ url('post_edit', {id: post.id}) }}" title="{{ 'action_edit'|trans }}">
                        {{ 'action_edit'|trans }}
                    </a>
                    <a class="btn btn-primary" role="button" href="{{ url('post_delete', {id: post.id}) }}" title="{{ 'action_delete'|trans }}">
                        {{ 'action_delete'|trans }}
                    </a>
                </dd>
            {% endif %}
            <dt>{{ 'label_content'|trans }}</dt>
            <dd>{{  post.content|markdown_to_html }}</dd>
        </dl>
        <h2>{{ 'title_comment_list'|trans }}</h2>
        <a class="btn btn-primary" role="button" href=" {{ url('comment_create', {id: post.id}) }}" title="{{ 'title_comment_create'|trans }}">
            {{ 'title_comment_create'|trans }}
        </a>
        {% if pagination is defined and pagination.items|length %}
            <div class="navigation text-center">
                {{ knp_pagination_render(pagination) }}
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'comment.id') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label_created_at'|trans, 'comment.createdAt') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label_updated_at'|trans, 'comment.updatedAt') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label_title'|trans, 'comment.title') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label_author'|trans, 'author.email') }}</th>
                    <th>{{ 'label_content'|trans }}</th>
                    <th>{{ 'label_actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for comment in pagination.items %}
                    <tr>
                        <td>{{ comment.id }}</td>
                        <td>{{ comment.createdAt|format_date('long') }}</td>
                        <td>{{ comment.updatedAt|format_date('long') }}</td>
                        <td>{{ comment.title }}</td>
                        <td>
                            <a href="{{ url('user_show', {id: comment.author.id}) }}" title="{{ comment.author.username }}">
                                {{ comment.author.username }}
                            </a>
                        </td>
                        <td>{{ comment.content|markdown_to_html }}</td>
                        <td>
                            {% if is_granted('MANAGE', comment) %}
                                <a class="btn btn-primary" role="button" href="{{ url('comment_edit', {id: comment.id}) }}" title="{{ 'action_edit'|trans }}">
                                    {{ 'action_edit'|trans }}
                                </a>
                                <a class="btn btn-primary" role="button" href="{{ url('comment_delete', {id: comment.id}) }}" title="{{ 'action_delete'|trans }}">
                                    {{ 'action_delete'|trans }}
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation text-center">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% else %}
            <p>
                {{ 'message_empty_list'|trans }}
            </p>
        {% endif %}
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}