<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Blog{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% endblock %}
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-sm bg-light">
        <ul class="navbar-nav">
            {% if (hide_user_nav is not defined) %}
                <li class="nav-item">
                    <a class="nav-link" href=" {{ url('post_index') }}"
                      title="{{ 'action_home'|trans }}">{{ 'action_home'|trans }}</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href=" {{ url('category_index') }}"
                   title="{{ 'title_category_list'|trans }}">{{ 'title_category_list'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=" {{ url('tag_index') }}"
                   title="{{ 'title_tag_list'|trans }}">{{ 'title_tag_list'|trans }}</a>
            </li>
        {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <a class="nav-link" href=" {{ url('user_index') }}"
                   title="{{ 'title_user_list'|trans }}">{{ 'title_user_list'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=" {{ url('comment_index') }}"
                   title="{{ 'title_comment_list'|trans }}">{{ 'title_comment_list'|trans }}</a>
            </li>
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li class="nav-item">
                <a class="nav-link" href=" {{ url('user_show', {id: app.user.id}) }}"
                  title="{{ 'title_my_profile'|trans }}">{{ 'title_my_profile'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('app_logout') }}"
                   title="{{ 'action_logout'|trans }}">{{ 'action_logout'|trans }}</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url('app_login') }}"
                   title="{{ 'title_login'|trans }}">{{ 'title_login'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('register') }}"
                   title="{{ 'title_registration'|trans }}">{{ 'title_registration'|trans }}</a>
            </li>
        </ul>
        {% endif %}
    </nav>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <p>{{ 'title_logged_in_as'|trans }} {{ app.user.username }}</p>
    {% endif %}
    {% include 'default/_flash_messages.html.twig' %}
    {% block body %}{% endblock %}
</div>
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>